{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortieFormType, {'attr': {'class': 'my-form'}}) }}
    {{ form_widget(sortieFormType) }}
    {{ form_end(sortieFormType) }}

    <div id="map" style="height: 400px;"></div>

    <div>
        <strong>Durée formatée:</strong> <span id="formattedDuration"></span>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lieu.js') }}"></script>
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
    <script src="{{ asset('js/dateValidation.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/CityCss.css') }}">
{% endblock %}
