{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>
    <h2>Filtrer les sorties :</h2>

    <select id="siteSelect">
        <option value="">Tous les sites</option>
        {% for site in sites %}
            <option value="{{ site.id }}">{{ site.nomSite }}</option>
        {% endfor %}
    </select>

    <form>
        <input type="checkbox" id="organizer" name="filter" value="organizer">
        <label for="organizer">Sorties dont je suis l'organisateur/trice</label><br>
        <input type="checkbox" id="registered" name="filter" value="registered">
        <label for="registered">Sorties auxquelles je suis inscrit/e</label><br>
        <input type="checkbox" id="notRegistered" name="filter" value="notRegistered">
        <label for="notRegistered">Sorties auxquelles je ne suis pas inscrit/e</label><br>
        <input type="checkbox" id="past" name="filter" value="past">
        <label for="past">Sorties passées</label><br>

        <label for="startDate">Comprise entre :</label>
        <input type="date" id="startDate" name="startDate">
        <button type="button" id="resetDateButton">Réinitialiser les dates</button><br>
        <label for="endDate">Et :</label>
        <input type="date" id="endDate" name="endDate"><br>

        <label for="searchName">Nom de la sortie :</label>
        <div style="position: relative; display: inline-block;">
            <input type="text" id="searchName" name="searchName" style="padding-right: 24px;">
            <span id="clearSearch" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); cursor: pointer;">&times;</span>
        </div>

        <button type="button" id="resetButton" style="display: none;">Réinitialiser</button>
    </form>

    <div id="sortiesContainer">
        <table id="sortiesTable">
            <thead>
            <tr>
                <th>Nom sortie</th>
                <th>Date début</th>
                <th>État sortie</th>
                <th>Date fin</th>
                <th>Description</th>
                <th>Organisateur</th>
            </tr>
            </thead>
            <tbody id="sortiesBody">
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nomSortie }}</td>
                    <td>{{ sortie.dateDebut|date('Y-m-d H:i:s') }}</td>
                    <td>{{ sortie.noEtat.libelle }}</td>
                    <td>{{ sortie.dateFin|date('Y-m-d H:i:s') }}</td>
                    <td>{{ sortie.description }}</td>
                    <td><a href="{{ path('app_sortir_annulerSortie', {'id': sortie.id}) }}">Annuler la sortie</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sortieFilter.js') }}"></script>
{% endblock %}