{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <h2>Filtrer les sorties :</h2>

    {{ form_start(form) }}
    {{ form_widget(form.site) }}
    {{ form_widget(form.submit) }}
{{ form_end(form) }}

    {% for sortie in sorties %}
        <table>
            <thead>
            <tr>
                <th>Nom sortie</th>
                <th>Date début</th>
                <th>Etat sortie</th>
                <th>Date fin</th>
                <th>Description</th>
                <th>Organisateur</th>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ sortie.nomSortie }}</td>
                <td>{{ sortie.dateDebut|date('Y-m-d H:i:s') }}</td>
                <td>{{ sortie.etatSortie }}</td>
                <td>{{ sortie.dateFin|date('Y-m-d H:i:s') }}</td>
                <td>{{ sortie.description }}</td>
                <td>{{ sortie.organisateur }}</td>
                {% if sortie.urlPhoto %}
                    <td>{{ sortie.urlPhoto }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}