{% extends 'base.html.twig' %}

{% block title %}
    Modifier une sortie
{% endblock %}

{% block body %}
    <div class="content-container">
        <h1>Modifier une sortie</h1>

        {{ form_start(sortieFormType, {'attr': {'class': 'my-form'}}) }}
        {{ form_widget(sortieFormType) }}
        {{ form_end(sortieFormType) }}

        <div id="map" style="height: 200px; margin-top: 20px;"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lieu.js') }}"></script>
{% endblock %}
