<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir{% endblock %}</title>

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
<body>
<h1></h1>
<nav>
    <ul  style="display:flex; flex-direction: row;list-style: none;">
        <li><a href="{{ path('app_sortir_accueil') }}">Home</a></li>
        <li><a href="{{ path('app_register') }}">Création du compte</a></li>
        <li><a href="{{ path('app_login') }}">Connection</a></li>
        <li><a href="{{ path('app_sortir_creerSortie') }}">Créer une sortie</a></li>
        {% if app.user%}
            <h1>Bienvenue, {{ app.user.pseudo }}!</h1>
            <li><a href="{{ path('app_sortir_list') }}">Accueil</a></li>
            <li><a href="{{ path('app_sortir_updateProfil', {'id': user.id}) }}">Mon profil</a></li>
            <li><a href="{{ path('app_sortir_creerSortie') }}">Créer une sortie</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</nav>
{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}{% endblock %}


