<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
<body>
<h1></h1>
<nav>
    <ul  style="display:flex; flex-direction: row;list-style: none;">
        <li><a href="{{ path('app_sortir_accueil') }}">Home</a></li>
        <li><a href="{{ path('app_register') }}">Création du compte</a></li>
        <li><a href="{{ path('app_login') }}">Connection</a></li>
        <li><a href="{{ path('app_sortir_creerSortie') }}">Créer une sortie</a></li>
        {% if app.user%}
        <li><a href="{{ path('app_sortir_monProfil') }}">Mon profil</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Bienvenue, {{ app.user.pseudo }}!</p>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %}
