<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
<body>
<h1></h1>
<nav>
    <ul  style="display:flex; flex-direction: row;list-style: none;">
        {% if app.user%}
            <h1 class="logPseudo">Bienvenue, {{ app.user.pseudo }}!</h1>
            <li><a href="{{ path('app_sortir_list') }}">Accueil</a></li>
            <li><a href="{{ path('app_sortir_updateProfil', {'id': user.id}) }}">Mon profil</a></li>
            <li><a href="{{ path('app_sortir_creerSortie') }}">Créer une sortie</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %}
